:root {
    --white: #fff;
    --cloud: #F4F4FD;
    --navy-blue: #2E2F42;
    --slate: #434455;
    --iris: #4D5AE5;
    --ocean: #404BBF;
}


body{
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: var(--white);
    font-size: 16px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    text-decoration: none;  
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
}

.container {
    padding: 0 156px;
}

/*Header*/
.header-inner {
    display:flex;
    justify-content: space-between;
    }

.header-nav {
    display:flex;
    gap:76px;
    }

.nav-list {
    display:flex;
    gap: 40px;
    justify-content: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    color: var(--iris);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    padding-top:24px;
    }

.header-accent {
    color: var(--navy-blue);
}

.nav-link {
    color: var(--navy-blue);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 24px 0;
    display: inline-block;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--ocean);
    text-decoration: underline;
}

.address {
    display:flex;
    justify-content: flex-end;
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    align-items: center;
    font-style: normal;
}

.address-link {
    display: inline-block;
    color: var(--slate);
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    }

.address-link:hover,
.address-link:focus {
    color: var(--ocean);
}

/*Hero Section*/
.hero-section {
    padding: 188px 316px;
    background: var(--navy-blue);
    text-align: center;
}

.hero-title {
    color:  var(--white);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-block-start: 0;
    margin-bottom: 48px;
    flex-wrap: wrap;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    color:  var(--white);
    background-color:  var(--iris);
    border: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background-color:  var(--ocean);
}

/*Features Section*/
.features-section {
    padding: 120px 0;
    background-color:  var(--white);
    text-align: left;
}

.features-list {
    display: flex;
    gap: 24px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    position: absolute;
    width: 1px;
    }

.features-item {
    flex-basis: calc((100%-72px)/4);
}

.features-section-title {
    color:  var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    margin-block-start: 0;
    margin-bottom: 8px;
}

.features-section-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
}

/*Team Section*/
.team-section {
    background-color:  var(--cloud);
    padding: 120px 0;
}

.team-section-main-title {
    color:  var(--navy-blue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-block-start: 0em;
}

.team-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
    flex-grow:1;
}

.team-card {
    background-color: var(--white);
    text-align: center;
}

.card {
    display:flex;
    flex-direction: column;
    gap: 8px;
    align-items:center;
    justify-content:center;
    padding: 32px 0;
    }

.team-section-title {
    color: var(--navy-blue);
    background-color: var(--white);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
}

.team-section-text {
    background-color:  var(--white);
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-block-start: 0;
    margin-block-end: 0;
    }

/*Portfolio Section*/
.portfolio-section {
    padding: 120px 0;
}

.portfolio-section-main-title {
    color:  var(--navy-blue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-block-start: 0;
    margin-bottom: 72px;
}

.portfolio-list {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    gap: 48px;
}

.portfolio-item {
    border: 1px solid cornflower;
}

.portfolio-section-title {
    color:  var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    margin: 32px 0 8px 16px;
}

.portfolio-section-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    margin: 0 0 32px 16px;
}

/*Footer*/
footer {
    color: var(--cloud);
    background-color:  var(--navy-blue);
    padding: 100px 0;
}

.footer-accent {
    color:  var(--cloud);
    margin-bottom: 16px;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    width: 264px;
}